.about{
    margin-top: 65px;
    position: relative;
    .hero-top{
        position: relative;
        background-color: $pink;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        min-height: 620px;
        @include respond-to(768){
            min-height: 400px;
            
        }
        
        img{
            width: 40%;
        }
        .content{
            position: relative;
            width: 60%;
            padding: 100px;
            @include respond-to(768){
                padding:40px
            }
            img{
                width: 200px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%,-50%);
                @include respond-to(768){
                    display: none;
                }
            }
            h2{
                font-size: 40px;
                line-height: 44px;
                margin-bottom: 40px;
                @include respond-to(768){
                 font-size:30px
                }
            }
            p{
                font-size: 20px;
                line-height: 30px;
                @include respond-to(768){
                    font-size:20px
                }
            }
        }
        img,.content{
            @include respond-to(768){
                width: 100%;
            }
         }
        
    }
    &__main{
        .ss1{
            background-image: url(../imgs/bg-about.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 80px 150px;
            @include respond-to(1024){
                padding: 20px 30px;
            }
            h2{
                text-align: center;
                color: $pink;
                font-size: 60px;
                line-height: 66px;
                span{
                    color: $green;
                }
                @include respond-to(768){
                    font-size: 30px;
                line-height: 36px;
                }
            }
        }
        .ss2{
            background:#FFE5F1;
            display: flex;
            justify-content: center;   
            flex-wrap: wrap;   
            align-items: center;
            flex-direction: row-reverse; 
            padding: 80px 150px;
            @include respond-to(1024){
                padding: 20px 30px;
            }   
            img{
                width: 100%;
            }  
            .img,.content{
                width: 50%;
            }
            @include respond-to(768){
                .img,.content{
                    width: 100%;
                }
            }
            h2{
                color:$pink;
                font-size: 40px;
                line-height: 44px;
                margin-bottom: 40px;
                @include respond-to(768){
                 font-size:30px
                }
            }
            p{
                color:$pink;
                font-size: 20px;
                line-height: 34px;
                @include respond-to(768){
                    font-size:20px
                }
            }
            .content{
                padding: 50px;
                @include respond-to(768){
                    padding: 20px;
                }
            }
        }
        .ss3{
            background: url(../imgs/bg-about.svg);
            padding: 80px;
                @include respond-to(1024){
                    padding: 20px;
                }
            .works{
                h2{
                    min-height: 100px;
                }
            }
        }
        .ss4{
            background:#FFE5F1;
            display: flex;
            justify-content: center;   
            flex-wrap: wrap;   
            align-items: center;
            flex-direction: row; 
            padding: 80px 150px;
            @include respond-to(1024){
                padding: 20px 30px;
            }     
            .img,.content{
                width: 50%;
                position: relative;
                @include respond-to(768){
                   
                        width: 100%;
                   
                }
            }
           
            h2{
                color:$pink;
                font-size: 40px;
                line-height: 44px;
                margin-bottom: 40px;
                @include respond-to(768){
                 font-size:30px
                }
            }
            p{
                color:$pink;
                font-size: 20px;
                line-height: 34px;
                @include respond-to(768){
                    font-size:20px
                }
            }
            .content{
                padding: 50px;
                @include respond-to(768){
                    padding: 20px;
                }
            }
            .img{
                
                img{
                    width: 100%;
                }
            }
            .img::before{
                content: '';
                width: 100%;
                height: 100%;
                border: 4px solid $green;
                position: absolute;
                top:-40px;
                left: -40px;
                @include respond-to(800){
                    display: none;
                }
            }
            .img::after{
                content: url(../imgs/icon/about-ss4-icon.svg);
                position: absolute;
                right: 0px;
                bottom: 0px;
                transform: translate(50%,50%);
                @include respond-to(800){
                    display: none;
                }
            }
            
            
        }
    }
}