.blog{
    margin-top: 65px;
    background-color: #F2F2F2;
    .top-acticle{
        background-color: #FFE5F1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 400px; 
        .img, .content{
            position: relative;
            width: 50%;
            height: 100%;
            
        }
        .img img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include respond-to(1024){
                position: relative;
            }
        }
       
        .content{
        
            padding:75px;
            position: relative;
            @include respond-to(1024){
                padding:20px;
                position: absolute;
                bottom: 50px;
                left: 0;
            
            }
            @include respond-to(600){
                padding:20px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-0%,-50%);
                //height: auto;
            
            
            }
            &__hero{
                width: 70%;
                @include respond-to(1024){
                    width: 80%;
                }
                position: absolute;
                bottom: 75px;
                left: 75px;
                @include respond-to(600){
                    bottom: 20px;
                left: 10px;
                }
                h3{
                    font-size: 40px;
                    line-height: 44px;
                    color: $pink;
                    margin-bottom: 30px;
                }
                p{

                    font-size: 16px;
                    color:$pink;
                    line-height: 24px;
                    margin-bottom: 50px;
                    @include respond-to(600){
                        font-size: 25px;
                        display: none;
                    }
                }
                .btn{
                    padding:20px
                }
                
            }
        }
        @include respond-to(1024){
            background-color: transparent;
            height: auto;
            position: relative;
            .img, .content{
                width: 100%;
            }
        }
        @include respond-to(1024){
            background-color: transparent;
            
        }
    }
    .main{
        background: url(../imgs/bg-blog-main.png) no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding:50px 100px;
        @include respond-to(768){
            padding:10px 20px;
        }
        position: relative;
        &__nav{
            text-align: center;
            width: 100%;
            position: relative;
            padding-bottom:40px;
            ul li{
               
                display: inline;
                padding: 10px;
                a{
                    font-size: 20px;
                    color: $pink;
                    text-decoration: none;
                }
            }
           
            
        }
        
         &__acticle{
             display: flex;
             justify-content: space-between;
             flex-wrap: wrap;
         }
        .loadmore{
            width: 100%;
            text-align: center;
            padding: 100px 0;
            @include respond-to(768){
                padding:40px 0;
            }
        } 
        
    }
    .ques{
        overflow: hidden;
        background-color: #FFE5F1;
        display: flex;
        justify-content: space-between;
        padding:50px 100px;
        @include respond-to(768){
            padding:10px 20px;
            display: none;
        }
        img{
            max-width: 100%;
        }
        .content{
            width: 400px;
            h3{
                font-size: 50px;
                color:$pink;

            }
        }

    }
}
.acticle-item{
    position: relative;
    width: 50%;
    margin-bottom: 20px;
    @include respond-to(768){
        width: 100%;  
  }
    .img,.content{
        width: 100%;
        padding:10px
    }
    .img {
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include respond-to(1024){
                position: relative;
            }
        }
        p{
            background-color: $green;
            position: absolute;
            top: 30px;
            left: 30px;
            padding:20px 30px;
            border-radius: 50%;
            text-transform: uppercase;
            transform: rotate(-20deg);
        }
    }
    h3{
        font-size: 40px;
        line-height: 44px;
        color: $pink;
        margin-bottom: 30px;
    }
    p{

        font-size: 16px;
        color:$pink;
        line-height: 24px;
        margin-bottom: 50px;
        @include respond-to(600){
            font-size: 25px;
        }
    }
    .btn{
        padding:20px
    }

} 