.blog-acticle{
    margin-top: 65px;
    position: relative;
    .hero-acticle{
        padding-top: 0;
        background-color:#FFE5F1;
        .img{
            width: 100%;
            img{
                max-width: 100%;
            }
        }
        .content{
           
            padding:75px;
            position: relative;
            text-align: center;
            width: 50%;
            margin: 0 auto;
            @include respond-to(768){
                width: 80%;
                padding: 10px;
            }
            h3{
                font-size: 40px;
                line-height: 44px;
                color: $pink;
                margin-bottom: 30px;
            }
            p{
    
                font-size: 16px;
                color:$pink;
                line-height: 24px;
                margin-bottom: 50px;
                @include respond-to(600){
                    font-size: 25px;
                    margin-bottom: 0;
                }
            }
        }
    }
    .main-acticle{
        background-color: #F2F2F2;
        padding: 40px 0;
        position: relative;
        .text-content{
            padding: 0 100px;
            @include respond-to(768){
               padding: 0 20px
            }
            color:#433937;
            font-size: 16px;
            line-height: 20px;
        }
        img{
            
            max-width: 49%;
            margin: 60px 5px;
            @include respond-to(768){
                width: 100%;
                max-width: 100%;
                margin: 30px 0;
            }
        }

    }
    .share{
        background-color: #F2F2F2;
        width: 100%;
        text-align: center;
        padding: 100px 0;
        @include respond-to(768){
            padding:40px 0;
        }
    } 
    
    .reate-acticle{
        background-color:#F2F2F2;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}
.child-hero{
    img{
        width: 100%;
    }
    @include respond-to(768){
        display: none;
    }
    text-align: center;

}