footer{
    background: $pink;
    position: relative;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding:50px 30px;
    @include respond-to(768){
        padding: 30px 10px;
    }
    
    .left{
        width: 50%;
        @include respond-to(768){
            width: 100%;
            border-bottom: 2px solid $green;
        }
        display: flex;
        justify-content:space-between;
         
        &>a{
            @include respond-to(1024){
                display: none;
                
            }
            width: 30%;
            
        }
        &>ul{
            width: 70%;
            @include respond-to(1024){
               width: 100%;
            }  
        }
       
    }
    .list-menu{
        display: flex;
        justify-content:space-around;
        font-size: 20px;
        line-height: 36px;
        text-transform: uppercase;
        a{
            text-decoration: none;
            color: white;
        }
    }
    .right{
        width: 50%;
        @include respond-to(768){
            width: 100%;
            text-align: center;
            border-bottom: 2px solid $green;
            padding:20px 0
        }
        padding: 0 20px;
       h3{
      
        font-size: 20px;
        line-height: 36px;
        text-transform: uppercase; 
        color: white;
        font-weight: normal;
       }
       input{
           font-size: 16px;
           padding: 10px;
           border: none;
           outline: none;
           border: 3px solid $green;
           background-color: transparent;
           color: white;
           width: 70%;
           &::placeholder{
               color:white
           }
       }
    }
}
.copy-right{
    background: $pink;
    overflow: hidden;
    position: relative;
    padding:50px 30px;
    @include respond-to(768){
        padding: 30px 10px;
    }
    .list-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    [class*=item]{
        display: flex;
        justify-content: space-around;
        li{
            @include respond-to(600){
                font-size: 14px;
            }
            font-size: 16px;
            color:white;
            text-transform: uppercase;
            padding:10px;
            a{
                text-decoration: none;
                color:white
            }
        }
    }

}