header{
    position: relative;
    .show ul {
        @include respond-to(768) {
            transition: all ease-out 0.3s;
            opacity: 1;
            visibility: unset;
    
        }
    }
    #toggle-menu {
        z-index: 1001;
        span {
            cursor: pointer;
        }

        position: absolute;
        transition: all ease-in 0.3s;
        top: 30px;
        left: 20px;
        width: 30px;

        @include respond-toSP(768) {
            display: none;
        }

        span {
            margin-bottom: 15px;
        }

        span:nth-child(1) {
            transition: all 0.3s;
            width: 30px;
            border-bottom: 4px solid $green;
            position: absolute;
            left: 0;
            transition: all ease-in 0.3s;
        }

        span:nth-child(2) {
            transition: all ease-in 0.3s;
            width: 30px;
            border-bottom: 4px solid $green;
            position: absolute;
            left: 0;
            top: -5px
        }

        span:nth-child(3) {
            transition: all ease-in 0.3s;
            width: 30px;
            border-bottom: 4px solid $green;
            position: absolute;
            left: 0;
            top: -10px
        }
    }
    
.active {
    position: relative;
    transition: all ease-in 0.3s;


    span:nth-child(1) {
        transition: all ease-in 0.3s;
        width: 30px;
        border-bottom: 4px solid $green;
        position: absolute;
        left: 0;
        top: -5px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    span:nth-child(2) {
        display: none;
    }

    span:nth-child(3) {
        transition: all ease-in 0.3s;
        width: 30px;
        border-bottom: 4px solid $green;
        position: absolute;
        left: 2px;
        top: -5px !important;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

 
}
.sticky {
    background-color: #F0F0F0;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    z-index: 1000;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: none;
    animation-duration: none; 
    transition: none;
    height: 65px;

    @include respond-to(1024) {
        position: fixed;
    }
    .ontop{
        display: none;
    }
    a{
        color:$pink !important;
        img{
            transition: 0.5s;
            height: 65px;
        }
        
    }
   
}
.nav{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
    @include respond-to(768){
        overflow: hidden;
    }
    ul{
        @include respond-to(768) {
           
            visibility: hidden;
            z-index: 1000;
            width: 100%;
            opacity: 0;
        }
        width: 100%;
    }
    &__menu{
        padding:0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond-to(768){
            flex-direction: column;
            background-color: $green;
            margin-top: -5px;
        }
        li{
            display: inline-block;
            padding: 20px 10px;
            a{
                font-size:20px;
                color:$text-color;
                text-transform: uppercase;
                letter-spacing: 1.1px;
                text-decoration: none;
            }
        }
    }
    .left{
        text-align: left;
        
    }
    .right{
        text-align: right;
        @include respond-to(768){
            text-align: left;
        }
    }.logo{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%);
        @include respond-to(768){
            position: relative;
            img{
                transform: translate(-50%);
            }
        

        }
    }
}
