.thePill{
    margin-top: 65px;
    [class*=ss]{
        padding:0 100px;
        @include respond-to(768){
            padding:0 30px;
        }
    }
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
  
    .left{
        width: 70%;
    }
    .right{
        .btn{
            width: 100%;
            outline: none;
            border: none;
            padding:20px 0;
            margin-bottom: 20px;
        }
        .see{
            text-align: center;
            a{
                text-decoration: none;
                color: white;
                margin-top: 20px;
             }
             a:after{
                 content: ' >';
             }
        }
        background-color: $pink;
        width:30%;
        padding:80px 50px;
        h3{
            font-size: 40px;
            margin-bottom: 20px;
        }
        hr{
            border: none;
            border-bottom: 2px solid $green;
            margin:20px 0
        }
        p,i{
            font-size: 20px;
            line-height: 31px;
        }
        .price{
            span:first-child{
                font-size: 50px;
            }
            span:last-child{
                font-size: 24px;
                font-style: italic;
            }
        }
        .plus{
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            i{
                padding:20px;
            }
        }
    }
    @include respond-to(1024){
        flex-direction: column-reverse;
        .left{
            width: 100%;
        }
        .right{
            width:100%
        }
      }
    .ss1{
        padding-top: 50px;
        min-height: 550px;
        background-color: #FFE5F1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .products{
            text-align: center;
            position: relative;
            .icon-product{
                position: absolute;
                top: 0;
                left: 0;
            }
            .item{
                width: 50%;
            }
        }
        @include respond-to(768){
            min-height: auto;
            .icon-product{
                display: none;
            }
        }
    }
    .ss2{
        background: url(../imgs/bg-how.png) no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        h2{
            text-align: center;
            margin-bottom: 40px;
            color:$pink;
            font-size: 40px;
            @include respond-to(768){
                margin: 30px 0;
                font-size: 30px;
            }
            
        }
        .works{
            display: block;
            flex-direction: column;
            .content{

                margin-bottom: 70px;
            }
            span:nth-child(1){
                display: block;
                color:$green
            }
            .content{
                @include respond-to(700){
                    width: 100%;
            
                }
                @include respond-toSP(700){
                    width: 40%;
            
                }
            }
        }
        .why{
            .content{
                @include respond-to(700){
                    width: 50%;
            
                }
                @include respond-toSP(700){
                    width: 33%;
            
                }
            }
        }
        
    }
    .ss3{
        background-color: #F0F0F0;
        .content{
            width: 80%;
            padding:100px 80px;
            @include respond-to(768){
                padding:40px 10px;
                width: 100%;
            }
            h2{
                font-size: 40px;
                line-height: 44px;
                color:$pink;
                text-align: left;
                @include respond-to(768){
                    font-size: 30px;
                }
                
            }
            p{
               
                font-size: 20px;
                display: inline; 
                color:$pink
               
            }
            a{
                font-size: 20px;
                display: inline; 
                color:$green;
                text-decoration: underline;
            }
        }
       
    }
    .ss4{
        position: relative;
        h3{
            font-size: 40px;
            color: $pink;
            margin: 50px 0;
            @include respond-to(768){
                margin: 30px 0;
            }
        }
        .border{
           background-image:url(../imgs/icon/star.svg);
           height: 130px;
           background-position: center;
           margin-top: -50px;
           @include respond-to(768){
               display: none;
           }
           
        }
        .item{
            position: relative;
            padding: 30px 20px;
            border: 3px solid $green;
            i,p{
                font-size: 18px;
                line-height: 34px;
                color:$pink;
            }
            h4{
                font-size:30px;
                line-height: 40px;
                color:$pink
            }
        }
        .vote{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
                width: 40px;
            }
        }
        .owl-nav,.disabled{
            display: block;
        }
        .owl-next, .owl-prev{
            span{
                display: none;
            }
            margin: 80px 15px;
            outline: none;
        }
        .owl-next::before{
            content: url(../imgs/icon/icon-owl-next.svg);
           

        }
        .owl-prev::before{
            content: url(../imgs/icon/icon-owl-prev.svg);
            
            
        }
    }
    .ss5{
        background-color: #FFE5F1;
        padding:0;
        .title{
            position: relative;
            padding:40px 0;

            h3{
            
                font-size: 45px;
                color: $pink;
                margin-bottom: 30px;
            }
            a{
                position: absolute;
                top: 50%;
                right: 0;
                @include respond-to(768){
                    position: relative;
                }
            }
            
        }
        .answers{
            padding:0 100px;
            @include respond-to(768){
                padding:0 30px;
            }
        }
        .collapsible {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 24px;
            color:$pink;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            background: #FFE5F1;
            margin: 2px 0;
        }
        
        .active, .collapsible:hover {
            background-color: #FFE5F1;
            
        }
        
        .collapsible:after {
            content: '\002B';
            color: $pink;
            font-weight: bold;
            float: right;
            margin-left: 5px;
            font-size: 80px;
        }
        
        .active:after {
            content: "\2212";
            font-size: 80px;
        }
        
        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
            p{
                font-size: 22px;
                color:$pink;
                line-height: 32px;
            }
        }
    }
}
