extends ./parts/layout.pug

prepend meta
    title Namtech - Comming Soon
    
block main-wrapper
    .wrapper-child(style="display:flex;justify-content:center;align-items:center;min-height:100vh;text-align:center")
        h1(style="font-size:80px;color:#E303F7;light-height:100px") Page<br/> Comming Soon
    