extends ./parts/layout.pug

prepend meta
    title Namtech - the pill
    
block main-wrapper
    h1(style="display:none") Namtech - the pill
    .thePill.wrapper-child
        .left
            section
                .ss1

                    .products
                        img(class="item" src="./assets/imgs/product.png", alt="")
                        img(class="item" src="./assets/imgs/product.png", alt="")
                        img(class="icon-product" src="./assets/imgs/icon/icon-product.svg", alt="")
                .ss2

                    .why
                        -for(i=1;i<7;i++)
                            include ./parts/includes/why.pug
                    
                    .h300

                    h2 How YIN Works?
                    .works
                        - for(i=1;i<4;i++)
                            .content
                                .content__item
                                    include ./parts/includes/works.pug   
                .ss3
                    .content   
                        h2 Important Safety<br/> Information.
                        p Prescription products are subject to doctor approval and require an online visit with a licensed medical doctor who will independently assess if you are eligible for the appropriate prescription.
                        a(href="#") View More
                .ss4
                    .border
                    h3 Some Kind Words
                    div.owl-carousel.owl-theme.owl-pill
                        - for(i=1; i<6;i++)
                            div.item
                                i 12-05-2020 
                                h4= `${i}  Perfect thing for a full time worker`
                                p Means I don’t have to book into the doctors every 3 - 4 months just for a script and saves me money. The year subscription is less than 1 doctors appointment for me and the pill cost is barely increased. Definitely love this service!! — Jennifer S.
                                .vote
                                    - for(j=1; j<6;j++)    
                                        img(src="./assets/imgs/icon/star.svg", alt="")
                .ss5
                    .answers
                        .title
                            h3 Questions? <br/> Meet <br/> answers.
                            a(href="#").btn View All
                        .collapse
                        - for(i=1; i<8;i++)
                                button.collapsible Why does membership cost $55
                                .content
                                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo blanditiis laborum repellat alias odio sunt, vel, adipisci deserunt dolore quibusdam officiis enim. Est veniam ipsum consequatur asperiores veritatis inventore sit saepe natus minus? Excepturi quaerat cumque itaque, asperiores, quae, debitis explicabo sequi quo accusamus a ex sed commodi quam hic!


        .right
            h3 Birth control. On your terms.
            p Get the Pill prescribed and delivered online from Local GPs
            hr 
            i Annual Membership
            .price 
                span $55
                span / year
            .plus
                a(href="#")
                    img(src="./assets/imgs/icon/plus.svg", alt="")
                i Same low pharmacy price for your pill
            .ready-button
                button.btn I’M READY!<br/>
            .see
                a(href="#") See the brands we offer
    