marquee Follow us on instagram — @YIN-CARE — Follow us on instagram — @YIN-CARE
footer.wrapper-child
    .left
        a(href="index.html").logo
            img(src="./assets/imgs/logo3.svg", alt="")
        - 
            let links = [
                {liElement:[{title:'the pill',link:'thepill.html'},{title:'GUIDES',link:'commingSoon.html'},{title:'LOGIN',link:'#'}]},
                {liElement:[{title:'ABOUT',link:'about.html'},{title:'BLOG',link:'blog.html'},{title:'CONTACT',link:'commingSoon.html'}]}   
            ]
        ul
            li.list-menu
                for data in links
                    ul
                        for data1 in data.liElement
                            li
                                a(href=data1.link)=data1.title
    .right
        h3 KEEP UP TO DATE!
        input(type="text" placeholder="EMAIL ADDRESS")
.copy-right.wrapper-child
    - 
        let linkCopyRight = [
            {id:'1',liElement:[{title:'©YIN CARE 2020',link:'#'}]},
            {id:'2',liElement:[{title:'intergram',link:'#'},{title:'facebook',link:'#'},{title:'twitter',link:'#'}]},
            {id:'3',liElement:[{title:'TERMS OF SERVICE ',link:'#'},{title:'PRIVACY POLICY',link:'#'}]} 
        ]
    ul
        li.list-menu
            for social in linkCopyRight
                ul(class=`item`+social.id)
                    for dataSocial in social.liElement
                        li
                            a(href=dataSocial.link target='_blank')=dataSocial.title