header.wrapper-child
    div#toggle-menu
            span
            span
            span
    nav.nav
        a(href="index.html").logo
                //- img(src="./assets/imgs/logo.svg", alt="").ontop
                //- img(src="./assets/imgs/logo1.svg", alt="").onscroll
                img(src="./assets/imgs/logo_main.svg", alt="")
                

        - 
            let link = [
                {ulElement:'left',liElement:[{title:'the pill',link:'./thepill.html'},{title:'about',link:'./about.html'}]},
                {ulElement:'right',liElement:[{title:'guides',link:'commingSoon.html'},{title:'login',link:'#'}]}            ]
        ul
            li.nav__menu
                for data in link
                    ul(class=data.ulElement)
                        for data1 in data.liElement
                            li
                                a(href=data1.link)=data1.title

        
