
.hero.wrapper-child 
    .img
        img(src="./assets/imgs/hero-img.jpg", alt="")
    .content
        .content__hero
            p Your reproductive health, in your control. Get your contraceptive pills delivered to your door.
            a(href="#").btn GET STARTED
.home.wrapper-child
    .yin
        .yin__home
            h2 How YIN Works?
            .works
                - for(i=1;i<4;i++)
                    .content
                        .content__item
                            img(src=`./assets/imgs/icon/icon${i}.svg`, alt="")
                            include ./works.pug
            h2 Why we built Yin — To start the conversation around a healthy sex life and provide easy access to birth control pills. Stigma be gone. Taboo no more. 
            .why
                - for(i=1;i<6;i++)
                    include ./why.pug
        .text-img    
            img(src="assets/imgs/text.jpg", alt="")
        .woman-kind
            .content
                h3 By women, for womankind.
                p Let’s flip the script, shall we? It’s about time we put women first.
                a(href="#").btn get start
        .h300